/* common */

.container {
  width: 425px;
  height: 630px;
}

.genericText {
  font-family: Inter, sans-serif;
  font-size: 24px;
}

/* pairing */

.pairingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 62px 65px;
}

.pairingHeader {
  font-family: Inter, sans-serif;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.83;
  letter-spacing: -0.573px;
  margin-bottom: 9px;
}

.scanCallToAction {
  width: 240px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 17.789px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1.883px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pairingDescription {
  width: 300px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 17.789px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 32px;
}

/* loader */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.spinner {
  width: fit-content;
  height: fit-content;
  animation: spin 10s linear infinite;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 220px 0 140px;
  box-sizing: border-box;
}

.loaderText {
  color: #fff;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 29.203px;
  font-style: normal;
  font-weight: 400;
  line-height: 53.452px; /* 183.034% */
  letter-spacing: -0.526px;
}

/* finished */

.finishedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 70px;
}

.finishedLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.finishedLogoTitle {
  color: #fff;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16.441px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 23.017px */
  letter-spacing: -0.329px;
}

.finishedWelcome {
  margin-top: 54px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter, sans-serif;
  font-size: 18.39px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.585px; /* 150% */
  letter-spacing: 1.947px;
  text-transform: uppercase;
}

.finishedUsername {
  color: #fff;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 32.882px;
  font-style: normal;
  font-weight: 400;
  line-height: 60.185px; /* 183.034% */
  letter-spacing: -0.593px;
}

.finishedVoucher {
  flex-grow: 1;
}

.finishedButton {
  display: flex;
  flex-direction: column;
  width: 262px;
}

/* error */
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 60px;
}

.errorTitle {
  font-family: Inter, sans-serif;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.83;
  letter-spacing: -0.573px;
  margin-bottom: 9px;
}

.errorButton {
  display: flex;
  flex-direction: column;
  width: 262px;
}
