.button {
  appearance: none;
  display: flex;
  flex-direction: row;
  padding: 6px 12px;
  background: white;
  color: black;
  font-family: Inter, sans-serif;
  font-size: 16px;
  border-radius: 4px;
  width: fit-content;
  border: none;
  cursor: pointer;
}
