.button {
  appearance: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 12px;
  background: white;
  height: 62px;
  color: black;
  font-family: Inter, sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 13px;
  border: none;
  cursor: pointer;
}
