.papp-modal-backdrop {
  z-index: 1000;
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.papp-modal-modal {
  z-index: 1001;
  position: absolute;
  inset: 0;
  margin: auto;
  width: 300px;
  height: fit-content;
  background: black;
  border-radius: 14px;
}
